/* Set the app attribute to your app's dash-delimited alias. */
cloudflare-app[app="lightPopup"] {
  display: flex;
  position: fixed;
  margin: 0.5em 0.2em;
  padding: 0.5em;
  bottom: 0;
  font-size: 16px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999999;
}

/* Use native elements when you'd like to inherit some styles from the page. */
cloudflare-app[app="lightPopup"] .modal-content p {
  text-indent: 0;
  color: black;
}

/* Use em units to scale elements for different inherited styles. */
cloudflare-app[app="lightPopup"] .big-title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: black;
}

cloudflare-app[app="lightPopup"] .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
cloudflare-app[app="lightPopup"] .modal-content {
  position: absolute;
  font-family: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 60%;
  border-radius: 0.5rem;
}
cloudflare-app[app="lightPopup"] .close-button {
  float: right;
  width: 1.6rem;
  line-height: 1.6rem;
  font-size: 1.1em;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
cloudflare-app[app="lightPopup"] .close-button:hover {
  background-color: darkgray;
}
cloudflare-app[app="lightPopup"] .show-modal {
  display: flex;
  margin: auto;
  z-index: 99999;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  max-height: 100%;
  max-width: 100%;
}

cloudflare-app[app="lightPopup"] .button.button--aylen {
  background-color: lightgray;
  color: inherit;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
cloudflare-app[app="lightPopup"] .button--aylen.button--inverted {
  background: none;
  color: #fff;
}
cloudflare-app[app="lightPopup"] .button--aylen::before,
cloudflare-app[app="lightPopup"] .button--aylen::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

cloudflare-app[app="lightPopup"] .button--aylen:hover {
  color: #fff;
}
cloudflare-app[app="lightPopup"] .button--aylen:hover::before,
cloudflare-app[app="lightPopup"] .button--aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
cloudflare-app[app="lightPopup"] .button--aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}
cloudflare-app[app="lightPopup"] .button {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  float: right;
  font-size: 0.8em;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
cloudflare-app[app="lightPopup"] .button:focus {
  outline: none;
}
cloudflare-app[app="lightPopup"] .button > span {
  vertical-align: middle;
}
cloudflare-app[app="lightPopup"] .button--round-l {
  border-radius: 4px;
}
cloudflare-app[app="lightPopup"] .button--text-thick {
  font-weight: 600;
}
cloudflare-app[app="lightPopup"] .show-button {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
@media only screen and (max-width: 760px) {
  cloudflare-app[app="lightPopup"] .modal-content {
    margin-top: 2em !important;
  }
  cloudflare-app[app="lightPopup"] .big-title {
    font-size: 1em !important;
  }
  cloudflare-app[app="lightPopup"] .modal-content p {
    font-size: 1em !important;
  }
  cloudflare-app[app="lightPopup"] .show-modal {
    overflow-y: auto !important;
    height: calc(100% - 50px);
  }
}
